.ipynb_checkpoints
_build
polars_guide/data/csv_different_type.csv
polars_guide/data/csv_header.csv
polars_guide/data/csv_trailing_space.csv
__pycache__
polars_guide/data/product_full_cp932.csv
polars_guide/data/product_full_nohead.csv
polars_guide/data/product_full.csv
polars_guide/data/product_full.tsv
polars_guide/data/output.csv
polars_guide/data/test_time.csv
tmp*.ipynb
polars_guide/data/pandas_foo.csv
polars_guide/data/pandas_foo.parquet
polars_guide/data/pandas_foo.xlsx
polars_guide/data/no2_concentrations.html
polars_guide/data/titanic.xlsx
